.pic img {
    width: 100%;;
}
.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    font-size: 10px;
    background-color: #edc3ba;
    width: 95%;
    border-radius: 20px;
    img {
        width: 12%;
        height: 7%;;
    }
    
}
nav {
    margin: 0;
    display: grid;
    grid-template-columns: 150px 150px;
    justify-content: center;
    text-transform: bold;
    text-align: center;
    .thing-item{
        
        list-style-type: none;
        padding: 15px;
       
        
       img {
           margin-bottom: 7px;
           width: 75%;
           
       }
        a{
        cursor: pointer;
        text-decoration: none;
        color: #615e59;
        font-weight: bold;
        
        text-transform: uppercase;
        
        }
        &:hover {
            a {color: #d3e6e9;}
        }
    }
}


//Desktop version
@media screen and (min-width: 938px) {
    .pic  {
        
        img {
            margin-left: 40px;
        }
        
    }
    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        font-size: 12px;
        background-color: #edc3ba;
        margin-left: 40px;
        border-radius: 20px;
        
        img {
            margin-top:10px ;
            width: 6%;
            height: 7%;
        }
        
    }
    nav {
        margin: 0;
        display: flex;
        flex-direction: row;
        text-transform: bold;
        text-align: center;
        
        .thing-item{
            
            list-style-type: none;
            padding: 10px;
            
            margin-top: 20px;
            margin-left: 80px;
           img {
               margin-bottom: 15px;
               width: 80%;
           }
            a {
            cursor: pointer;
            text-decoration: none;
            color: #615e59;
            font-weight: bold;
            font-size: 17px;
            text-transform: uppercase;
            
            }
            &:hover {
                a {color: #d3e6e9;}
            }
        }
    }
}
